html {
  font-family: "Noto Sans", sans-serif;
}

.japanese {
  font-family: "Noto Sans Japanese", sans-serif;
}

.border {
  border-bottom: 2px solid  #e2e2e2;
}

a {
  text-decoration: none;
  color: #b64c6e;
  border-bottom: 2px solid #b64c6e;
}

a:hover {
  color: #860927;
}

.btn-ghost {
  color: #b64c6e;
  border: 3px solid #b64c6e;
}

.btn-ghost:hover {
  color: #b64c6e;
  border: 3px solid #b64c6e;
  background-color: #d89fb0;
}
