html {
  font-family: "Noto Sans", sans-serif;
  background-color: ##e2e2e2;
}

header, section {
  border-bottom: 3px solid #333;
}

a {
  color: #b64c6e;
}

a:hover {
  color: #860927;
}

.btn-ghost {
  color: #b64c6e;
  border: 3px solid #b64c6e;
}

.btn-ghost:hover {
  color: #b64c6e;
  border: 3px solid #b64c6e;
  background-color: #d89fb0;
}
